#container {
  min-height: 100vh;
}

#input,
#output {
  min-height: 100vh;
}

#curtain {
  margin: auto;
  overflow: hidden
}

#curtain-top,
#curtain-bottom {
  background: rgb(196, 196, 196);
  border: 3px solid black;
}

#curtain-top{
  height: 15px;
}

#curtain-bottom{
  height: 10px;
}

.stripe{
  height: 30px;
  margin: auto;
}

.space{
  height: 30px;
  background-color: white;
  margin: auto;
}